.separator {
  background-color: red;
  border: solid 1px #000;
}

.toggleButton {
  background-color: #FFF;
}

.menuButtonLeft {
  border-radius: 10px 0 0 10px;
}

.menuButtonMiddle {
  border-radius: 0;
}

.menuButtonRight {
  border-radius: 0 10px 10px 0;
}

.buttonMenu {
  text-align: center;
  margin: 5vh 0;
}

.btnSpace {
  margin: 0 5px;
}





.red {
  background-color: red;
  border: solid 1px black;
}

.blue {
  background-color: blue;
  border: solid 1px black;
}